*{
    margin: 0;
    padding: 0;
}
header{
    margin-top: 750px;
    width: 100%;
    height: 100vh;
    background: url(la.jpg);
    background-size: cover;
    position: relative;
}
header::before{
    content: '';
    width: 100%;
    height: 100vh;
    background: url('s1.jpg');
    background-size: cover;
    position: absolute;
    top:0;
    left: 0;
    mix-blend-mode: screen;
}
.h1{
    color: #000; 
    margin-top: -500px;
    margin-left: 25px;
    font-size: 35px;
    font-family: Abd Kerkuk;

}

.wave-header{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background: #273036;
}
svg{
    position: absolute;
    bottom: 0;
    left: 0;
}
.mm{
    width: 100%;
    height: 100vh;
}


.s{
    margin-top: 650px;
    margin-left: 130px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
    i{
        text-align: center;
        margin-top: 10px;
        display: block;
    }
    .s i{
        font-size: 25px;
        border: 3px solid black;
        padding: 10px;
        width: 300px;
        height: 100px;
        border-radius: 10px;
        padding: 30px;
    }

   span{
    color:#000;
    padding-left: 10px;
    font-family: Calibri ;
    color: #fff;
      
 }
 
  
   
   
 
    .fa-instagram{
        background-color: #ff0062;
        color: #fff;

    }
   

    .fa-tiktok{
        background-color: #000;
        padding-right:10px;
        color: #fff;

    }

    .fa-whatsapp{
        background-color:#07c216 ;
        color: #fff;
    }
    .fa-viber{
        background-color:#8f5db7 ;
        color: #fff;
    }
    .fa-location-dot{
        background-color:#9c0b0b ;
        color: #fff;  
    }
    .fa-phone {
        background-color:#1877F2 ;
        color: #fff;
    }





    @media (max-width: 1024px) {
        

    header{
        margin-left: -80px;
    
        margin-top: 800px;
        height: 400px;
     
    }
    header::before{
    
        height: 400px;
     
    }




.h1{
    margin-top: -1000px;
    font-size: 50px;

}
.s{
    margin-top: 1030px;
    margin-left: 20;

}
}

    @media (max-width: 414px) {
        .h1{
            margin-top: -250px;
            margin-left: 10px;
            font-size: 21px;
        }
            .s{
                margin-top: 200px;
                margin-left: 0;
            
            }
        
        
        
        .mm{
            height: 300px;
        }
        .wave-header{
            min-height: 300px;
            margin-left: 10px;

        }
.s{
    margin-left: 0;

}
 
    .s i{
 
        width: 250px;

    }

 
 header{
    margin-left: -80px;

    margin-top: 800px;
    height: 300px;
 
}
header::before{

    height: 300px;
 
}
      }

    @media (max-width: 768px) {
        .h1{
            color: #000; 
            margin-top: -250px;
            margin-left: 10px;
            font-size: 21px;
        font-family: Abd Kerkuk;
        }
        
        .mm{
            width: 100%;
            height: 300px;
        }
        .wave-header{
            min-height: 300px;
            width: 100%;
            margin-left: 10px;
            position: relative;
            background: #273036;
        }
.s{
    margin-top: 310px;
    margin-left: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
    i{
        text-align: center;
        margin-top: 10px;
        display: block;
    }
    .s i{
        font-size: 25px;
        border: 3px solid black;
        padding: 10px;
        width: 250px;
        height: 100px;
        border-radius: 10px;
        padding: 30px;
    }

   span{
    color:#000;
    padding-left: 10px;
    font-family: Calibri ;
    color: #fff;
      
 }
 header{
    margin-left: -80px;

    margin-top: 800px;
    width: 100%;
    height: 300px;
    background: url(la.jpg);
    background-size: cover;
    position: relative;
}
header::before{
    content: '';
    width: 100%;
    height: 300px;
    background: url('s1.jpg');
    background-size: cover;
    position: absolute;
    top:0;
    left: 0;
    mix-blend-mode: screen;
}
      }
      @media (max-width: 430px) {
        .h1{
            margin-top: -250px;
            margin-left: 10px;
            font-size: 21px;
        }
            .s{
                margin-top: 200px;
                margin-left: 0;
            
            }
        
        
        
        .mm{
            height: 300px;
        }
        .wave-header{
            min-height: 300px;
            margin-left: 10px;

        }
.s{
    margin-left: 0;

}
 
    .s i{
 
        width: 250px;

    }

 
 header{
    margin-left: -80px;

    margin-top: 800px;
    height: 300px;
 
}
header::before{

    height: 300px;
 
}
      }
    @media (max-width: 393px) {
        .s{
            margin-top: 310px;
            margin-left: 0;
        
        }
                header{
            margin-top: 800px;
        }
    
    }
      @media (max-width: 390px) {
        .s{
            margin-top: 310px;
            margin-left: 0;
        
        }
                  header{
            margin-top: 800px;
        }
    
    }
    @media (max-width: 360px) {
                .s{
            margin-top: 310px;
            margin-left: 0;
        
        }
        header{
            margin-top: 800px;
        }
    
    
    }
      @media (max-width: 375px) {
        .s{
            margin-top: 310px;
            margin-left: 0;
        
        }
        header{
            margin-top: 800px;
        }

    
    }
    @media (max-width: 344px) {
        .s{
            margin-top: 260px;
            margin-left: 0;
        
        }
                header{
            margin-top: 800px;
        }

    
    }
    @media (max-width: 344px) {
        .s{
            margin-top: 250px;
            margin-left: 0;
        
        }
        header{
            margin-top: 800px;
        }

    
    }
